.background{
	
	background-image: url(img/pubg39.jpg);
	background-size: cover;
	height: 350px;
	border-top: 2px solid #FFFFFF;
}
img{
	width: 400px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(125,193,206,.7)
	margin-bottom:10px;
	margin-left: 50px;
	margin-top: 15px;

}
.imglist{
	margin: auto;
	margin-top: 100px;
}
.fancybox-caption{
	color: #FFFFFF;
	font-family: arial;
	font-size: 21px;

}
.barr{
	border-top: 2px solid #FFFFFF;
}
h2.from{
	text-align: center;
	color: white;
	margin-top: 55px;
}