*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box; 
}
.head{
	background: url(img/pubg13.jpg)no-repeat;
	background-size: 100% 100%;
	width: 100%;
}

section{
	min-height: 657px;
}











































